.kya {
  margin: 0;
  width: 100%;
  border: 1px solid #dedede;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  background-color: white;
}

nav {
  /* background-color: rgb(60, 60, 60); */
  padding: 1.8rem;
}

.lol {
  color: white;
}

.haha {
  padding: 1rem;
  color: black;
  text-decoration: none;
  margin: 5px;
}

form {
  padding: 2.5rem;
  padding-left: 8rem;
}

thead{
  font-weight:bolder;
  background-color: gold;
}

table {
  position: absolute;
  left: 30%;
  text-align: center;
  width: 40%;
}
tr:nth-child(even) {
  background-color: rgba(5, 107, 251,0.5);
}
tr:nth-child(odd) {
  background-color: rgba(142, 245, 250,0.5);
}
.send{
  position:absolute;
  top:29%;
  left:65%;
  display: inline;
  margin-left:10%;
}
.send:hover{
  transform: scale(0.93,0.93);
}