.kya {
  margin: 0;
  width: 100%;
  border: 1px solid #dedede;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  background-color: white;
}

nav {
  padding: 1.8rem;
}
.haha {
  margin-left: 15px;
}
#compose {
  margin-top: 5%;
  position: absolute;
  left: 15%;
  width: 70%;
  display: block;
}
span {
  font-size: 1.3rem;
}
.send {
  width: 10%;
}
.send:hover {
  transform: scale(1.2, 1.2);
}
#toarea{

  height:150px;
}
#message{
  height:150px;
}