body{
    background-color: rgba(200,200,200,0.75) !important;
}
.g1{
    width:26rem;
    height:38rem;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid ;
    margin:auto;
    position: relative;
    text-align: center;
    top:20px;
    padding: 10px;
}
.g3 {
    padding:20px;
}
label{
    font-size: 1rem;
}
input {
    cursor: text;
    /* font-size: ; */
}
.g2{
    box-sizing: border-box;
    text-align: left;
    padding:15px;
}
.bnc{
    position: absolute;
    /* right:6.5rem; */
    bottom:2rem;
    width:10rem; 
    background-color: rgba(100,200,100) !important;
}
.g4{
    width:400px;
    height:80px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid ;
    margin:auto;
    position: relative;
    text-align: center;
    top:40px;
    padding: 30px;
}
form i{
    margin-left: -30px;
    cursor: pointer;
}